extends layout
block layout-content
  div.View.StudentInfoView
    h1.Banner Hello #{studentProfile.nickname}!
    div.Message
      div.Title Student Information
    head
     body
      .tab
        button.tablinks(onclick="openTab(event, 'Therapy')") Therapy Maps
        button.tablinks(onclick="openTab(event, 'RecognitionandRevision')")  Recognition and Revision
        button.tablinks(onclick="openTab(event, 'Changework')") Change-Work
      // Tab content
      #Therapy.tabcontent
        h3 Therapy Maps
        p therapy section, here you can upload any visualisations you might have done recently.
      #RecognitionandRevision.tabcontent
        h3 Recognition
        p This the recognition and revision section
        .q1
          p1 On a scale 0-100, 100 being very happy and 0 being very sad, how do you feel?
        .SliderBar
          input#slider(type='range' min='0' max='100' value='50')
          #selector
            .SelectBtn
            #SelectValue
          #ProgressBar
        .q2
          p1
            | On a scale from 0-100, 100 being very calm and 0 being very anxious, how do you feel?
        .SliderBar2
          input#slider2(type='range' min='0' max='100' value='50')
          #selector2
            .SelectBtn2
            #SelectValue2
          #ProgressBar2
        .q3
          p1
            | On a scale from 0-100, 100 being very excited and 0 being very bored, how do you feel?
        .SliderBar3
          input#slider3(type='range' min='0' max='100' value='50')
          #selector3
            .SelectBtn3
            #SelectValue3
          #ProgressBar3
        script.
          var slider=document.getElementById("slider");
          var selector=document.getElementById("selector");
          var ProgressBar= document.getElementById("ProgressBar");
          SelectValue.innerHTML = slider.value;
          var slider2=document.getElementById("slider2");
          var selector2=document.getElementById("selector2");
          var ProgressBar2= document.getElementById("ProgressBar2");
          SelectValue2.innerHTML = slider2.value;
          var slider3=document.getElementById("slider3");
          var selector3=document.getElementById("selector3");
          var ProgressBar3= document.getElementById("ProgressBar3");
          SelectValue3.innerHTML = slider3.value;
          slider.oninput=function()
          {
          SelectValue.innerHTML = this.value;
          selector.style.left =this.value+ "%";
          ProgressBar.style.width =this.value+ "%";
          }
          slider2.oninput = function(){
          SelectValue2.innerHTML = this.value;
          selector2.style.left =this.value+"%";
          ProgressBar2.style.width =this.value+ "%";
          }
          slider3.oninput = function(){
          SelectValue3.innerHTML = this.value;
          selector3.style.left =this.value+"%";
          ProgressBar3.style.width =this.value+ "%";
          }

      #Changework.tabcontent
       .overall-changework  
          .overall-changework
            .container-changework
              .row-changework
                .col-12
                  .input-group
                    input#helpfulThing.form-control(type='text', required='')                                 
                    .input-group-append
                      button.btn.btn-add(onclick='addItem()', type='button') Add something that helps you
                      button.btn.btn-remove(onclick='removeItem()', type='button') Remove something that helps you
                                   
                    ul#dynamic-list
