extends layout

block layout-content
  div.View
    head
      div.navbar
        div.pull-left
            img(src="./images/CatApp-Logo.png" id="logo")
            span CatApp
        div.nav-left
        
        div.nav-right
          ul
            li        
              a.logoutLink(href="/login") Logout
            li  
              a#StudentNameText Student name
                // Text to be changed by js depending on the person logged in
      //- h1.Banner Hello
      //- div.Message
      //-   div.Title Student Information
              
    body
      div.containeralt
        .tabstudent
          button.tablinks(onclick="openTab(event, 'Therapy')") Therapy Maps
          button.tablinks(onclick="openTab(event, 'RecognitionandRevision')")  Recognition and Revision
          button.tablinks(onclick="openTab(event, 'Changework')") Change-Work
        div.mainContent
          #Therapy.tabcontent
            h3 Therapy Maps
          #RecognitionandRevision.tabcontent
            p This the recognition and revision section
        .q1
          p1 On a scale 0-100, 100 being very happy and 0 being very sad, how do you feel?
        .SliderBar
          input#slider(type='range' min='0' max='100' value='50')
          #selector
            .SelectBtn
            #SelectValue
          #ProgressBar
        .q2
          p1
            | On a scale from 0-100, 100 being very calm and 0 being very anxious, how do you feel?
        .SliderBar2
          input#slider2(type='range' min='0' max='100' value='50')
          #selector2
            .SelectBtn2
            #SelectValue2
          #ProgressBar2
            .q3
              p1
                | On a scale from 0-100, 100 being very excited and 0 being very bored, how do you feel?
            .SliderBar3
              input#slider3(type='range' min='0' max='100' value='50')
              #selector3
                .SelectBtn3
                #SelectValue3
              #ProgressBar3
            script.
              var slider=document.getElementById("slider");
              var selector=document.getElementById("selector");
              var ProgressBar= document.getElementById("ProgressBar");
              SelectValue.innerHTML = slider.value;
              var slider2=document.getElementById("slider2");
              var selector2=document.getElementById("selector2");
              var ProgressBar2= document.getElementById("ProgressBar2");
              SelectValue2.innerHTML = slider2.value;
              var slider3=document.getElementById("slider3");
              var selector3=document.getElementById("selector3");
              var ProgressBar3= document.getElementById("ProgressBar3");
              SelectValue3.innerHTML = slider3.value;
              slider.oninput=function()
              {
              SelectValue.innerHTML = this.value;
              selector.style.left =this.value+ "%";
              ProgressBar.style.width =this.value+ "%";
              }
              slider2.oninput = function(){
              SelectValue2.innerHTML = this.value;
              selector2.style.left =this.value+"%";
              ProgressBar2.style.width =this.value+ "%";
              }
              slider3.oninput = function(){
              SelectValue3.innerHTML = this.value;
              selector3.style.left =this.value+"%";
              ProgressBar3.style.width =this.value+ "%";
              }
          #Changework.tabcontent
            div.changeworkTable
              h3 ChangeWork
              <!doctype html>
                      <html lang="en">
                      
                      <head>
                        <!-- Required meta tags -->
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                      
                      
                      
                        <link rel="stylesheet" href="style2.css">
                        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
                        
                      
                      
                      
                      
                      
                      
                      
                        <title>changework</title>
                      </head>
                      
                      <body>
                     <div class="overall-changework">
                      


                      
                        <div class="container-changework">
                          <div class="row-changework">
                            <div class="col-12">
                      
                      
                             
                      
                      
                              <div class="input-group">
                                <input type="text" class="form-control" id="helpfulThing" required>
                                <div class="input-group-append">
                                  <button onclick="addItem()" class="btn btn-add" type="button">Add something that helps you</button>
                                  <button onclick="removeItem()" class="btn btn-remove" type="button">Remove something that helps you</button>
                                </div>
                              </div>
                      
                      
                              <ul id="dynamic-list">
                      
    footer
      div.fcontainer
        div.row
          address
            | 123 The High Street
            br
            |             Little SmallTown
            br
            |             Sheffield
            br
            |             S99 7ZZ
        div.footerSocialLinks
            ul
              li
                a(href="" aria-label="Twitter")
                  i.fab.fa-twitter
              li
                a(href="" aria-label="Facebook")
                  i.fab.fa-facebook
              li
                a(href="" aria-label="Instagram")
                  i.fab.fa-instagram
              li
                a(href="" aria-label="YouTube")
                  i.fab.fa-youtube
        div.footerLinks
            ul
              li
                a(href="") Terms and Conditions
              li
                a(href="") Accessibility
              li
                a(href="") Legal Information
              li
                a(href="") Privacy and GDPR
            