extends layout
block layout-content
  div.View.StudentInfoView
    head
      div.navbar
        div.pull-left
          img(src="/images/CatApp-Logo.png" id="logo")
          span CatApp
              
        div.nav-left
          ul
            li  
              a#therapistNameText
               //script checkTherapist(Student,Therapist);
                          
        div.nav-right
          ul
            li        
              a.logoutLink(href="/login") Logout
      .tab
        div.hori-selector
          .left
          .right
        button.tablinks(onclick="openTab(event, 'Home')") Home
        button.tablinks(onclick="openTab(event, 'Therapy')") Therapy Maps
        button.tablinks(onclick="openTab(event, 'RecognitionandRevision')")  Recognition and Revision
        button.tablinks(onclick="openTab(event, 'Changework')") Change-Work
        button.tablinks(onclick="openTab(event, 'AddClient')") Add Client Form 
    body
        // Tab content
        #Home.tabcontent 
          h3="Information for student: " + Student.Fname + "." +  Student.Lname
        
        #Therapy.tabcontent
          h3 Therapy Maps
          p therapy section, here you can upload any visualisations you might have done recently.
            div.filepond
            input(type="file" multiple="")
            script.
              FilePond.registerPlugin(
              FilePondPluginImagePreview,
              FilePondPluginImageResize,
              FilePondPluginImageTransform
              );
              const inputElement = document.querySelector('input[type="file"]');
              const pond = FilePond.create(inputElement,{
              imageResizeTargetWidth:256,
              imageResizeTargetHeight:50,
              //callback
              onaddfile:(err,fileItem)=>{
              console.log(err,fileItem.getMetadata('resize'))
              },
              /* onpreparefile:(fileItem,output)=>{
              //const img
              const img= new Image();
              img.src = URL.createObjectURL(output);
              document.body.appendChild(img);
              }*/
              });
            .Uploadbtn
              button(type="submit") Upload
          console.log('tab content')
          
        #RecognitionandRevision.tabcontent
          h3 Recognition
          p This the recognition and revision section
        #Changework.tabcontent
          div.changeworkTable
                p
                  | Example Text
                table#changework
                  tbody
                    tr
                      th Student ID
                      th Things that help them 
                      th Latest submission
                script changeworkAdd()
        
        #AddClient.tabcontent
          h3 Add Client Questions
          p Please Enter a problem area and question to push to the students applicat
          div.addclientform
            form(action="/recognition" method="POST")
              input(type="text" name="client" placeholder="Client Name" required="")
              br
              input(type="text" name="target problem1" placeholder="Target Problem" required="")
              br
              input(type="radio" id="slider-bar" name="choice1" value="slider-bar") 
              label(for="slider-bar")  Click above to generate a SliderBar on student's side
              br
              input(type="radio" id="textbox" name="choice1" value="textbox") 
              label(for="textbox") Click above to generate a Textbox on student's side
              br
              input(type="text" name="target problem1 pattern (optional)" placeholder="Target Problem: Question One" required="")
              br
              input(type="text" name="target problem2" placeholder="target problem two" required="")
              br
              input(type="radio" id="slider-bar" name="choice2" value="slider-bar")
              label(for="slider-bar") Click above to generate a SliderBar on student's side
              br
              input(type="radio" id="textbox" name="choice2" value="textbox")
              label(for="textbox") Click above to generate a Textbox on student's side
              br
              input(type="text" name="target problem2 pattern (optional)" placeholder="target problem two pattern (optional)" required="")
              br
              input(type="text" name="target problem3" placeholder="target problem three" required="")
              br
              input(type="radio" id="slider-bar" name="choice3" value="slider-bar")
              label(for="slider-bar") Click above to generate a SliderBar on student's side
              br
              input(type="radio" id="textbox" name="choice3" value="textbox")
              label(for="textbox") Click above to generate  a Textbox on student's side
              br
              input(type="text" name="target problem3 pattern (optional)" placeholder="target problem three pattern (optional)" required="")
              br
              input(type="text" name="target problem4" placeholder="target problem four" required="")
              br
              input(type="radio" id="slider-bar" name="choice4" value="slider-bar")
              label(for="slider-bar") Click above to generate a SliderBar on student's side
              br
              input(type="radio" id="textbox" name="choice4" value="textbox")
              label(for="textbox") Click above to generate a TextBox on student's side
              br
              input(type="text" name="target problem4 pattern optional" placeholder="target problem four pattern (optional) " required="")
              br
              input(type="submit")
              .script 
                console.info("submitted")